/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/*custom font face that was used by the application*/
@font-face {
	font-family: ChaletComprime-CologneSevet;
	src: url("../font/ChaletComprime-CologneSevet.otf") format("opentype");
}


body {
	font-family: ChaletComprime-CologneSevet, Helvetica, Verdana, Sans-Serif;
	background-image: url("../images/background_plain.jpg");
	color: #562147;
}

h1, h2, h3 {
	margin: 0 auto;
	text-align: center;
	width:100%;
}

h1 {
	font-size: 4em;
	margin-top:.25em;
}

h2 {
	font-size: 3em;
	margin-top:.15em;
}

h3 {
	font-size: 2em;
	margin-top:.15em;
}

label, input, select {
	font-size: 2em;
	font-family: ChaletComprime-CologneSevet, Helvetica, Verdana, Sans-Serif;
}

fieldset {
	border: none;
}

input, img, label, canvas, select {
	margin: 0 auto;
	display: block;
	text-align: center;
}

input[type="button"] {
	display: inline;
}

img {
	margin-bottom: .25em;
}

label {
	margin-top:.25em;
}

#button-holder {
	margin: 0 auto;
	display: block;
	width: 258px;
}

.exhibit-item-holder {
	position: relative;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 2%;
	width: 180px;
	/*margin: 0 auto;*/
	/*width: 25%;*/
	height: 230px;
	text-align: center;
}

.button-container {
	margin: 0 auto;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left:2%;
	float: left;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.button-container {
		margin: 0 auto;
		width: 258px;
		margin-top: 2%;
		margin-bottom: 2%;
		float: none;
	}

	.exhibit-item-holder {
		position: relative;margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 2%;
		width: 258px;
		margin: 0 auto;
		/*width: 25%;*/
		height: 230px;
		text-align: center;
	}
}

.exhibit-item {
	width: 180px;
	height: 230px;
}

.main-button {
	width: 258px;
	height: 80px;
	border: none;
	background-color:transparent;
	background-image: url("../images/button_normal.png");
	font-size: 36px;
	color: #ede6af;
	text-align: center;
	background-repeat: no-repeat;
	position: relative;
	text-transform: uppercase;
	font-family: ChaletComprime-CologneSevet, Helvetica, Verdana, Sans-Serif;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.main-button:active {
	background-image: url("../images/button_selected.png");
}



h1 img {
	display: inline;
	margin: none;
	height: 37px;
	width: 35.2px;
	margin-bottom: 0px;
	margin-left: -15px;
}

.main-button.m {
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-bottom: 3%;
}

table {
	margin: 0 auto;
	margin-top: 10px;
	font-size: 24px;
}

th {
	padding: 5px;
}

tbody {
	text-align: center;
}
}