<h1><img src="images/iggyIcon_mini.png">SMV Boost</h1>
<h2>Pick an Activity to View Your Results</h2>
<div class="button-container">
	<!-- <div class="exhibit-item-holder">
		<a href="<%=baseUrl%>find-passion">
			<img class="exhibit-item" src="images/MenuNav_findYourPassion.png">
		</a>
	</div> -->
	<!-- <div class="exhibit-item-holder">
		<a href="<%=baseUrl%>hobby">
			<img class="exhibit-item" src="images/MenuNav_hobbyOfTheMonth.png">
		</a>
	</div> -->
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>yoga">
			<img class="exhibit-item" src="images/MenuNav_yogaStrength.png">
		</a> 
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>tight-wire">
			<img class="exhibit-item" src="images/MenuNav_Tightwire.png">
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>shrink">
			<img class="exhibit-item" src="images/MenuNav_GetInTheBox.png"/>
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>bench-press">
			<img class="exhibit-item" src="images/MenuNav_BenchPress.png">
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>vertical-leap">
			<img class="exhibit-item" src="images/MenuNav_VerticalLeap.png">
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>reaction">
			<img class="exhibit-item" src="images/MenuNav_ReactionTime.png">
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>recipe">
			<img class="exhibit-item" src="images/MenuNav_RecipeBuilder.png">
		</a>
	</div>
	<!-- <div class="exhibit-item-holder">
		<a href="<%=baseUrl%>pedal">
			<img class="exhibit-item" src="images/MenuNav_pedalPowered.png"/>
		</a>
	</div> -->
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>speed-match">
			<img class="exhibit-item" src="images/MenuNav_SpeedMatch.png"></a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>creativity">
			<img class="exhibit-item" src="images/MenuNav_Creativity.png">
		</a> 
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>spatial-memory">
			<img class="exhibit-item" src="images/MenuNav_SpatialMemory.png"></a> 
	</div>
	<!-- <div class="exhibit-item-holder">
		<a href="<%=baseUrl%>looking">
			<img class="exhibit-item" src="images/MenuNav_whereAreYouLooking.png"/>
		</a>
	</div> -->
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>happiness-is">
			<img class="exhibit-item" src="images/MenuNav_happinessIs.png"/>
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>happiness-scale">
			<img class="exhibit-item" src="images/MenuNav_hapinessScale.png"/>
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>mind">
			<img class="exhibit-item" src="images/MenuNav_biometrics.png"/>
		</a>
	</div>
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>sleep">
			<img class="exhibit-item" src="images/MenuNav_sleepTheatre.png"/>
		</a>
	</div>
	<!-- <div class="exhibit-item-holder">
		<a href="<%=baseUrl%>lip-service">
			<img class="exhibit-item" src="images/MenuNav_lipService.png">
		</a>
	</div> -->
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>hit-the-note">
			<img class="exhibit-item" src="images/MenuNav_hitTheNote.png">
		</a> 
	</div>
	<!-- <div class="exhibit-item-holder">
		<a href="<%=baseUrl%>appreciation">
			<img class="exhibit-item" src="images/MenuNav_appreciation.png"/>
		</a>
	</div> -->
	<div class="exhibit-item-holder">
		<a href="<%=baseUrl%>what-passion">
			<img class="exhibit-item" src="images/MenuNav_whatsYourPassion.png">
		</a>
	</div>
</div>
<input id="exit" class="main-button m" value="Exit" type="button"/>